*{
    margin:0;
    padding:0;
}

/* ethan-jessie-1 */
/* ethan-jessie-1: Heading */
.topnav{
    background-color: white;
    width: 100vw;
    height: 10vh;
    display:flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav > img {
    width: 4%;
    padding: 1rem;
}

.logo{
    font-size: 2.5rem;
    padding-left: 0.3rem;
    color: #25799b;
}

.sign{
    font-size: 1.5rem;
    padding-left: 57rem;
    padding-right: 2rem;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}

.create{
    font-size: 1.3rem;
    border-radius: 25px;
    background-color: #1B7092;
    color:white;
    width: 13rem;
    height: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* ethan-jessie-1: body */
.background{
    background-color: #A9D1E2;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.box{
    background-color:white;
    width: 27rem;
    height:24rem;
    border-radius: 3%;
    transform: translate(30.5rem, 11rem);
    position: absolute;
}

.main > img{
    width: 6%;
    padding: 1rem;
    transform:translate(39.5rem, 7rem);
}

.title{
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    padding-top: 5rem;
    color: #1B7092;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-title{
    color:white;
    border: 0px none white;
    border-top-right-radius: 1rem;;
    background-color: #7aafc5;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    margin-top:1rem;
    font-size: 0.9rem;
    padding-left: 0.3rem;
}

#email{
    width: 4vw;
    height: 4vh;
    font-family: Arial, Helvetica, sans-serif;

}

#password{
    width: 5vw;
    height: 4vh;
    font-family: Arial, Helvetica, sans-serif;

}

.box1{
    border: 1px none white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #A9D1E2;
    width: 26vw;
    height: 6vh;
    margin-left: 2rem;
    margin-bottom:2rem;
}

/* ethan-jessie-2 */
/* ethan-jessie-2: layout */
#background{
    height: 89.6vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "left-handed right-handed right-handed right-handed"
    "left-handed right-handed right-handed right-handed";
}
/* ethan-jessie-2: heading */
#nav{
    border-bottom:2px solid #95c1d4;
    grid-area: nav;
    width: 100vw;
}

.hello{
    font-size: 1.4rem;
    color: rgb(97, 93, 93);
}

#I1{
    padding-left: 63rem;
    padding-right: 1rem;
}

#I1 > img{
    width: 2.8rem;
}

/* ethan-jessie-2: left */
.left{
    background-color: white;
    width: 25vw;
    height: 89.6vh;
    border-right: 2px solid #95c1d4;
    grid-area: left-handed;
}

.list2{
    display:grid;
    grid-template-columns: 8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "l1"
    "l2"
    "l3"
    "l4"
    "l5"
    "l6"
    "l7"
    "l8";
}

div.menus{
    font-weight: bold;
    font-size: 1.7em;
    color: #1B7092;
    padding-bottom: 0.7rem;
    padding-left: 1.3rem;
    padding-top: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

#l1{
    grid-area: l1;
}

#l2{
    grid-area: l2;
}

#l3{
    grid-area: l3;    
}

#l4{
    grid-area: l4;
}

#l5{
    grid-area: l5;
}

#l6{
    grid-area: l6;
}

#l7{
    grid-area: l7;
}

#l8{
    grid-area: l8;
}

.left-bottom{
    padding-top: 10rem;
    display: flex;
    font-size: 0.9rem;
}

.left-bottom > img{
    width: 1.5rem;
    height: 2rem;
    padding-left: 1rem;
    padding-top: 0.6rem;
}

/* ethan-jessie-2: right */

.right{
    grid-area: right-handed;
    background-color: #A9D1E2;
    height: 89.6vh;
}

#T1{
    color: white;
    padding-top: 2rem;
    font-size: 3rem;
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.day{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #25799b;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 3rem;

}

.BS{
    background-color: white;
    margin-left: 2rem;
    margin-right: 1rem;
    border-bottom: 0.2rem solid #25799b;
    height: 8.5rem;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B7092;
    padding-top: 1rem;
    font-size: 1rem;
}

.class{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #1B7092;
    padding-top: 1rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.white-box{
    background-color: white;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 3.9rem;
}

.table{
    padding-top: 2rem;
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "m t w th f"
    "MF TF WF THF FF"
    "MS TS WS THS FS"
    "MT TT WT THT FT"
    "WB1 WB2 WB3 WB4 WB5";
}

#Mon{
    grid-area: m;
}

#Tues{
    grid-area: t;
}

#Wen{
    grid-area: w;
}

#Thues{
    grid-area: th;
}

#Fri{
    grid-area: f;
}

#first{
    grid-area:first;
}

#second{
    grid-area: second;
}

#third{
    grid-area: third;
}

.m-first{
    grid-area: MF;
}

.m-second{
    grid-area: MS;
}

.m-third{
    grid-area: MT;
}

.t-first{
    grid-area: TF;
}

.t-second{
    grid-area: TS;
}

.t-third{
    grid-area: TT;
}

.w-first{
    grid-area: WF;
}

.w-second{
    grid-area: WS;
}

.w-third{
    grid-area: WT;
}

.th-first{
    grid-area: THF;
}

.th-second{
    grid-area: THS;
}

.th-third{
    grid-area: THT;
}

.f-first{
    grid-area: FF;
}

.f-second{
    grid-area: FS;
}

.f-third{
    grid-area: FT;
}

.white-box1{
    grid-area: WB1;
}

.white-box2{
    grid-area: WB2;
}

.white-box3{
    grid-area: WB3;
}

.white-box4{
    grid-area: WB4;
}

.white-box5{
    grid-area: WB5;
}


/* ashley-livia-1 */
/* ashley-livia-1: layout */

.all{
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    grid-template-columns: 0.8fr 4fr;
    grid-template-areas: 
    "LS T"
    "LS RS";
}

/* ashley-livia-1: top */
.top{
    grid-area: T;
    background-color:#FFC83B;
    display: flex;
    align-items: center;
    height: 15vh;
}

.top > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-left: 3rem;
}

.top > img{
    margin-left: 0.5rem;
    width: 2.5rem;
}

#GPA {
    margin-left: 32rem;
}

/* ashley-livia-1: left-side */
.left-side > img{
    width: 13vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.left-side{
    grid-area: LS;
    background-color: #091868;
}

.list{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: #36459c;
    padding-top: 3rem;
}

.major{
    grid-area: RS;
    background-color: #054CBF;
}

/* ashley-livia-1: major */
.M1{
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 1.7rem;
}

.M1 > img{
    padding-left: 1rem;
    width: 2.7vw;
}

.content{
    padding-left: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.see-more{
    padding-left: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-decoration-color: white;
    text-decoration: underline;
}

#grade{
    padding-left: 10rem;
}

.C1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

#C2{
    padding-left: 10rem;
}

.overall{
    border: 0px soild none;
    background-color: #091868;
    border-radius: 25px;
    width: 22vw;
    height: 45vh;
    transform: translate(43rem, -27rem);
}

.G{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.TG{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border: 0px soild none;
    background-color: #091868;
    border-radius: 20px;
    width: 22vw;
    height: 8vh;
    transform: translate(43rem, -24rem);

    display:flex;
    justify-content: center;
    align-items: center;
}

.TG > img{
    width: 2rem;
    padding-right: 1rem;
}

.arrow{
    background-color: #091868;
    transform: translate(85.9rem, -43rem);
    width: 2vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow > img{
    width: 1vw;
}

/* ashley-livia-2*/
/* ashley-livia-2: layout*/
.all2{
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    grid-template-columns: 0.8fr 4fr;
    grid-template-areas: 
    "LS T"
    "LS MB";
}

/* ashley-livia-2: major*/
.icon{
    display:flex;
    align-items: center;
    padding-left: 4rem;
    padding-top: 1.3rem;
    grid-area: icon;
}

#first{
    padding-top: 3.5rem;
}

td > img{
    width: 2.5rem;
}

.name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    font-size: 1.2rem;

}

.major-body{
    display: grid;
    grid-area: MB;
    grid-template-rows: 3fr;
    grid-template-columns: 0.8fr 2.5fr;
    grid-template-areas: 
    "NL CB";

    background-color: #054CBF;
}

.name-list{
    grid-area: NL;
}

.chat-box{
    display:flex;
    margin-top: 1.5rem;
    /* margin-bottom: 0.5rem; */
    margin-left: 1rem;
    margin-right: 8rem;
    border: 0.3rem solid #091868;

    display: grid;
    grid-area: CB;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 5fr;
    grid-template-areas: 
    "person"
    "chat";
}

.person{
    grid-area: person;
    border-bottom: 0.3rem solid #091868;


    display:flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 1.5rem;

}

.person > img{
}

.chat{
    grid-area: chat;
}

.BI{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.BI > img{
    width: 50px;
    height: 50px;
}

#line1{
    display:flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 2rem;
    margin-right:1rem;
}

#line1 > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px soild none;
    border-radius: 50px;
    background-color: #091868;
    width: 10rem;
    height: 2.3rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#line2{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1rem;
    margin-left:1rem;
}

#line2 > img {
    width: 50px;
    height: 50px;
}

#line2 > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px soild none;
    border-radius: 50px;
    background-color: #091868;
    width: 8rem;
    height: 2.3rem;
    margin-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#line3{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1rem;
    margin-left:1rem;
}

#line3 > img {
    width: 50px;
    height: 50px;
}

#line3 > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px soild none;
    border-radius: 50px;
    background-color: #091868;
    width: 19rem;
    height: 2.3rem;
    margin-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#line4{
    display:flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 1rem;
    margin-right:1rem;
}

#line4 > img {
    width: 50px;
    height: 50px;
}

#line4 > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px soild none;
    border-radius: 50px;
    background-color: #091868;
    width: 10rem;
    height: 2.3rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#line5{
    display:flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 1rem;
    margin-right:1rem;
}

#line5 > img {
    width: 50px;
    height: 50px;
}

#line5 > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px soild none;
    border-radius: 50px;
    background-color: #091868;
    width: 19rem;
    height: 2.3rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow2{
    background-color: #091868;
    transform: translate(71.3rem, -20rem);
    width: 2vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow2 > img{
    width: 1vw;
    z-index: 3;
}

.control{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.control > img{
    width: 2.2rem;
    height: 2rem;
    padding-top: 0.5rem;
}

.control > p{
    color: #36459c;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px soild none;
    border-radius: 50px;
    background-color: #091868; 
    margin-top: 0.5rem;
    padding-left: 1rem;
    width: 18rem;
    height: 2rem;

    display: flex;
    align-items: center;
}


/* ping-yusun-1 */
/* ping-yusun-1: layout*/
.whole{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 5fr;
    grid-template-areas: 
    "L R";

    height: 100vh;
}

.left-hand{
    grid-area: L;
}

.right-hand{
    grid-area: R;
    background-color: #73E0CE;

}

/* ping-yusun-1: left-hand*/
.top-left{
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
    margin-top: 1.5rem;
}

.top-left > img{
    width: 2.3vw;
}

.top-left > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.middle-top{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5rem;
}

.announcement{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.middle-top > img{
    width: 5vw;
    padding-right: 2rem;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1rem;
    padding-left: 4rem; 
}

.middle > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.middle > img{
    width: 8vw;
    padding-left: 1rem;
}

.arrow3 {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 2rem;
    height: 2rem;
    margin: 2rem;

  }
  
.to-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.to-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.TRT{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    padding-left: 30rem;
    padding-top: 2rem;
}

.round{
    border: 1px solid none;
    border-radius: 50px;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 1.5rem;
}

.C2{
    background-color: #F58500;
}

.C3{
    background-color: #73E0CE;
}

.C4{
    background-color: #F58500;
}

.bottom{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr;
    grid-template-areas: 
    "BT"
    "BD";

}
.bottom-top{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-top: 4rem;
    padding-left: 9rem;
    grid-area: BT;
}

.bottom-down{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: BD;
    padding-left: 8rem;
    padding-top: 2rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 5.5rem;
    font-size: 1.2rem;
    
}

.button > img{
    width: 3.5vw;
    padding-right: 1rem;
}

.item2-WS{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr;
    grid-template-areas: 
    "W"
    "S";
    
}

.item2 > img{
    transform: translate(0rem, -0.5rem);
}

#Weekly{
    grid-area: W;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

#Schedule{
    grid-area: S;
}


/* ping-yusun-1: right-hand */
#baymax{
    display: flex;
    justify-content: flex-end;

    padding: 1rem;
}

#baymax > img{
    width: 5vw;
}

.listed-events{
    padding-left: 3rem;
    padding-top: 1rem;
}

ul.events{
    list-style-type: circle;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.events{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    font-size: 1.2rem;
}

.item{
    padding-bottom: 0.5rem;
}

.back{
    border: 0px solid #F58500;
    border-radius: 50px;
    background-color: #F4B30C;
    width: 4rem;
    height: 1rem;
    transform: translate(2.2rem, 1.2rem);

}

.month2 > p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 2;
    padding-top: 1rem;
    padding-left: 2rem;
}

.block{
    border: 0.2rem solid black;
    border-radius: 10px;
    background-color: white;
    padding: 0.7rem;
    width: 10rem;
    margin-left: 2.3rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
    
    display: grid;
     grid-template-rows: 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-areas: 
     "Oct Oct non non non non non"
     "Mon Tues Wed Th Fri Sta Sun"
     "D1 D2 D3 D4 D5 D6 D7"
     "D8 D9 D10 D11 D12 D13 D14"
     "D15 D16 D17 D18 D19 D20 D21"
     "D22 D23 D24 D25 D26 D27 D28"
     "D29 D30 D31 non2 non2 non2 non2";
}

.mon{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 2;
}

.block > h3{
    grid-area: Oct;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.block > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.none{
    grid-area: non;
}

#M{
    grid-area: Mon;
}

#T{
    grid-area: Tues;
}

#Wed{
    grid-area: Wed;
}

#Th{
    grid-area: Th;
}

#F{
    grid-area: Fri;
}

#S{
    grid-area: Sta;
}

#Sun{
    grid-area: Sun;
}

#D1{
    grid-area: D1;
}

#D2{
    grid-area: D2;
}

#D3{
    grid-area: D3;
}

#D4{
    grid-area: D4;
}

#D5{
    grid-area: D5;
}

#D6{
    grid-area: D6;
}

#D7{
    grid-area: D7;
}

#D8{
    grid-area: D8;
}

#D9{
    grid-area: D9;
}

#D10{
    grid-area: D10;
}

#D11{
    grid-area: D11;
}

#D12{
    grid-area: D12;
}

#D13{
    grid-area: D13;
}

#D14{
    grid-area: D14;
}

#D15{
    grid-area: D15;
}

#D16{
    grid-area: D16;
}

#D17{
    grid-area: D17;
}

#D18{
    grid-area: D18;
}


#D19{
    grid-area: D19;
}


#D20{
    grid-area: D20;
}

#D21{
    grid-area: D21;
}

#D22{
    grid-area: D22;
}

#D23{
    grid-area: D23;
}

#D24{
    grid-area: D24;
}

#D25{
    grid-area: D25;
}

#D26{
    grid-area: D26;
}

#D27{
    grid-area: D27;
}

#D28{
    grid-area: D28;
}

#D29{
    grid-area: D29;
}

#D30{
    grid-area: D30;
}

#D31{
    grid-area: D31;
}

.none2{
    grid-area: non2;
}

.note > p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 2;
    padding-top: 1rem;
    padding-left: 2rem;
    font-weight: bold;
}

.back2{
    border: 0px solid #F58500;
    border-radius: 50px;
    background-color: #FF6F6F;
    width: 3rem;
    height: 1rem;
    transform: translate(2.2rem, 1.3rem);
}

.block2{
    border: 0.2rem solid black;
    border-radius: 10px;
    background-color: white;
    padding: 0.7rem;
    width: 10rem;
    margin-left: 2.3rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
    height: 3rem;
}

.block2 > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* ping-yusun-2 */
/* ping-yusun-2: headnav*/
.headnav{
    width: 100vw;
    height: 15vh;

    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.headnav > img{
    width: 5.5vw;
    height: 12vh;
    padding-right: 1rem;
    padding-top: 1rem;
}

.gray-line{
    border: 0.15rem solid black;
    border-radius: 50px;
    background-color: #C7C7C7;
    width: 2.7rem;
    height: 0.4rem;
    margin: 0.25rem;
}

.three-lines{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr;
    grid-template-areas: 
    "GL1"
    "GL2"
    "GL3";

    padding-top: 1rem;
    padding-right: 1rem;
}

#GL1{
    grid-area: GL1;
}

#GL2{
    grid-area: GL2;
}

#GL3{
    grid-area: GL3;
}


/* ping-yusun-2: topic */
.topic{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.8rem;
    padding-left: 4.7rem;
    transform: translate(0rem, -1.5rem);
}

/* ping-yusun-2: detail */
.detail{
    width: 100vw;
    height: 5vh;

    display: flex;
    justify-content: space-around;
}
.battery{
    width: 20vw;
    height: 60vh;
    margin-top: 3rem;
    margin-left:3rem
}

.battery > p{
    padding-left: 3rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

#B3 > p{
    padding-left: 2rem;
}

.top-head{
    width: 6rem;
    height: 2rem;
    border: 0.3rem solid black;
    border-bottom: 0.3rem solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-left: 3.4rem;
    z-index: 2;
    position: absolute;
}

.container{
    width: 13rem;
    height: 17rem;
    border: 0.3rem solid black;
    border-radius: 1.5rem;
    transform: translate(0rem, 2.36rem);
}

#B2{
    transform: translate(0rem, -3rem);
}

.top-head2{
    width: 7rem;
    height: 2rem;
    border: 0.3rem solid black;
    border-bottom: 0.35rem solid white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-left: 4.8rem;
    z-index: 2;
    position: absolute;

}

.container2{
    width: 17rem;
    height: 22rem;
    border: 0.3rem solid black;
    border-radius: 1.5rem;
    transform: translate(0rem, 2.395rem);
}

/* ping-yusun-2: .side-note */
.side-note{
    width: 5vw;
    height: 5vh;
    transform: rotate(90deg);
    border: 0.2rem solid black;
    border-radius: 0.6rem;
    margin-top: 26rem;
    margin-left: -1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.side-note > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.task{
    border: 0px solid black;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 0.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specific{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.85rem;
}

.due > div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

.period{
    padding-left: 0.4rem;
}

.progress{
    border: 0px solid black;
    border-radius: 50px;
    background-color: #FFDC1D;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.DT{
    background-color: #73E0CE;
}

.DTW{
    padding:0.58rem;
    background-color: #e5e5e5;
}

.DTWF{
    padding: 0.58rem;
    background-color: #F58500;
}

.DTM{
    padding: 1.5rem;
    background-color: #e5e5e5;
}
.DTMF{
    padding: 1.5rem;
    background-color: #FF6F6F;
}

.percent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    transform: translate(-15rem, 27rem);
}

.percent2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    transform: translate(-13rem, 29rem); 
}


/* ping-yusun-3 */
#HN{
    width: 95vw;
}
/* ping-yusun-3: topic*/
#T2{
    padding-left: 15rem;
    transform: translate(0rem, -3rem);
}

/* ping-yusun-3: ping*/
.ping{
    width: 28vw;
    height: 5vh;
    z-index: 2;
    padding-left: 6rem;
    position: absolute;


    display: flex;
    justify-content: space-around;
}

.earth-line{
    width: 2vw;
    height: 10vh;
    border: 0.15rem solid black;
    border-radius: 50px;
    background-color: #e2d69b;
    transform: translate(9rem, -1.5rem);
}

/* ping-yusun-3: package */
.package{
    width: 28vw;
    height: 65vh;
    border: 0.25rem solid black;
    border-radius: 2rem;
    background-color: #73E0CE;
    margin-left: 15rem;
    margin-top: 0.5rem;
}

.package > p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7rem;
    padding-top: 2rem;

    display: flex;
    justify-content: center;;
}

#block{
    border: 0.2rem solid black;
    border-radius: 10px;
    background-color: white;
    padding: 0.7rem;
    width: 10rem;
    margin-left: 6.5rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
    padding: 0.7rem;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "Mon Tues Wed Th Fri Sta Sun"
    "D1 D2 D3 D4 D5 D6 D7"
    "D8 D9 D10 D11 D12 D13 D14"
    "D15 D16 D17 D18 D19 D20 D21"
    "D22 D23 D24 D25 D26 D27 D28"
    "D29 D30 D31 non2 non2 non2 non2";
}

#block > p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.HL1{
    background-color: #FFDC1D;
    border: 0px solid black;
    border-radius: 0.2rem;
    width: 1.1vw;
    height: 2.5vh;
}

.HL2{
    background-color: #FF6F6F;
    border: 0px solid black;
    border-radius: 0.2rem;
    width: 1.1vw;
    height: 2.5vh;
}

.HL3{
    background-color: #F4B30C;
    border: 0px solid black;
    border-radius: 0.2rem;
    width: 1.1vw;
    height: 2.5vh;
}

.box2{
    border: 0.2rem solid black;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem;
    width: 25vw;
}

.sub-information{
    display: flex;
    padding: 0.5rem;
}

.number{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 1rem;
}

.event{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#N1{
    margin-left: 1rem;
    border: 0px solid black;
    border-radius: 0.2rem;
    width: 1.5vw;
    height: 2.5vh;
    background-color: #FFDC1D;
}

#N2{
    margin-left: 1rem;
    border: 0px solid black;
    border-radius: 0.2rem;
    width: 1.5vw;
    height: 2.6vh;
    background-color: #FF6F6F;
}

#N3{
    margin-left: 1rem;
    border: 0px solid black;
    border-radius: 0.2rem;
    width: 1.5vw;
    height: 2.6vh;
    background-color: #F4B30C;
}

/* ping-yusun-3: holiday */
.holiday{
    border: 0.2rem solid black;
    border-radius: 20px;
    background-color: white;
    width: 10vw;
    padding: 0.5rem;
    transform: translate(38rem, -24rem);
    position: absolute;
    z-index: 2;
}

.particular{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.3rem;
}

.H1{
    display: flex;
}

.H1 > img{
    width: 3vw;
    height: 3vh;
    transform: rotate(350deg);
    padding: 0.3rem;
}

/* ping-yusun-3: months */
.box3{
    border: 0.2rem solid black;
    border-radius: 1.5rem;
    width: 4vw;
    height: 13vh;
    padding: 1rem;
    margin: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.full-moon{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.5rem;
}

.year{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.months{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "non3 thing1 thing2 thing3"
    "thing4 thing5 thing6 thing7"
    "thing8 thing9 thing10 thing11";

    width: 20vw;
    height: 30vh;
    transform: translate(43em, -26em);
    position: absolute;
    z-index: 2;

}

.non3{
    width: 4vw;
    height: 13vh;
    padding: 1rem;
    grid-area: non3;
    margin: 0.5rem;
}

#thing1{
    grid-area: thing1;
}

#thing2{
    grid-area: thing2;
}

#thing3{
    grid-area: thing3;
}

#thing4{
    grid-area: thing4;
}

#thing5{
    grid-area: thing5;
}

#thing6{
    grid-area: thing6;
}

#thing7{
    grid-area: thing7;
}

#thing8{
    grid-area: thing8;
}

#thing9{
    grid-area: thing9;
}

#thing10{
    grid-area: thing10;
}

#thing11{
    grid-area: thing11;
}

.back3{
    border: 0rem solid black;
    border-radius: 1.5rem;
    width: 4vw;
    height: 13vh;
    padding: 1rem;
    margin: 0.5rem;
}

#BK1{
    background-color: #FF6F6F;
    transform: translate(49rem, -27rem);
}

#BK2{
    background-color: #FFDC1D;
    transform: translate(58rem, -34.7rem);
}

#BK3{
    background-color: #73E0CE;
    transform: translate(65rem, -40.2rem);
}

#BK4{
    background-color: #FF6F6F;
    transform: translate(44rem, -41.5rem);
}

#BK5{
    background-color: #FFDC1D;
    transform: translate(64.7rem, -47rem);
}

.back4 > img{
    width: 16.3vw;
    transform: translate(43.5rem, -46rem);
}

/* ping-yusun-3: side-note */
#SN{
    margin-top: -38rem;
    margin-left: -1.5rem;
}







